.footer {
  //
  @apply bg-[#0E1D2B]  text-white;
  //
  &-top {
    @apply flex flex-col lg:flex-row lg:justify-between pt-[9.6rem] lg:px-[14rem] pb-[15.4rem] space-y-[7.2rem] lg:space-y-0;
    //
    div {
      //
      &:nth-of-type(1) {
        @apply w-[75%] lg:w-[20.17%] lg:h-[5.6rem];
      }
      //
      &:nth-of-type(2) {
        @apply lg:w-[28.8%] flex space-x-[10.4rem] lg:space-x-0 lg:justify-between;
      }
      //
      &:nth-of-type(3) {
        @apply lg:w-[23.17%];
        //
        & ul {
          & li {
            & p {
              @apply text-[#B8B4B1];
            }
          }

          &:last-of-type {
            @apply flex gap-x-[1.6rem] mt-[2.4rem];

            & svg {
              @apply h-[4rem] w-[4rem];
            }
          }
        }
      }
      //
      & ul {
        //
        & li {
          //
          & h6 {
            @apply font-extrabold mb-[2.4rem];
          }
          //
          & h5 {
            @apply font-medium;
          }
          //
          & p {
            @apply mb-[1.6rem] font-normal;
          }
        }
      }
    }
  }

  //
  &-copyright {
    @apply flex justify-center bg-[#061626] py-[4rem] text-[1.2rem] font-medium;
    //
    & span {
      @apply text-[#B8B4B1];
    }
  }
}
