.index {
  & .potential {
    //
    @apply lg:w-[88.30%] m-auto flex flex-col-reverse lg:flex-row lg:justify-between lg:items-center pt-[18rem] pb-[20rem];
    //
    &-image {
      @apply mt-[8rem] lg:mt-0 lg:w-[43.10%] relative;
    }

    &-text {
      @apply lg:w-[47.18%];

      & h4 {
        @apply font-epilogue font-bold mb-[1.6rem] lg:w-[83.84%];
      }

      & p {
        @apply leading-[2.4rem];
        //
        &:first-of-type {
          @apply mb-[1.6rem];
        }
      }
    }
  }

  & .course {
    @apply lg:w-[86.21%] m-auto mt-[14.1rem];
    //
    &-header {
      & h3 {
        @apply font-epilogue font-bold lg:w-[42%];
        & span {
          @apply text-[#009F0B];
        }
      }
    }
    //
    &-content {
      @apply mt-[9.6rem] flex justify-between flex-wrap;
      //
      &--card {
        @apply lg:w-[39%] mb-[12.1rem] flex gap-x-[1.6rem];
        //
        &--text {
          & h5 {
            @apply mb-[1.6rem] font-bold;
          }
          //
          & p {
            @apply w-[88.38%];
          }
        }

        &--icon {
          & svg {
            @apply mt-[.32rem] h-[2.4rem] w-[2.4rem];
          }
        }
      }
    }
  }

  & .training-register {
    //
    & .container {
      @apply py-[10.4rem];
    }
  }
}
