.testimonial-section {
  @apply border-y-[10.4rem] border-[#009F0B];

  & .container {
    @apply flex flex-col lg:flex-row lg:justify-between lg:items-end lg:w-[93.91%] py-[21.1rem];
  }

  &--heading {
    @apply lg:w-[65.44%];
    & h2 {
      @apply font-epilogue font-extrabold text-[#009F0B] text-[4.8rem] lg:text-[6.2rem];
      & span {
        background: linear-gradient(261deg, #009f0b 6.62%, #0e1d2b 94.96%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &--image {
    @apply mt-[4.8rem] lg:mt-0 flex items-end space-x-[1.6rem] lg:w-[28.49%];
    & img {
      @apply w-[14.8rem] h-[6rem];
    }
  }

  &--link {
    & p {
      &:first-of-type {
        @apply font-epilogue font-bold flex gap-x-[.8rem] items-center;
      }

      & svg {
        @apply h-[1.2rem] w-[1.2rem];

        &:hover {
          @apply rotate-45 transition-transform duration-[5000];
        }
      }
    }
  }
}
