.testimonial-section {
  @apply border-y-[10.4rem] border-[#009F0B];

  & .container {
    @apply flex justify-between items-end w-[93.91%] py-[21.1rem];
  }

  &--heading {
    @apply w-[65.44%];
    & h2 {
      @apply font-epilogue font-extrabold text-[#009F0B];
      & span {
        background: linear-gradient(261deg, #009f0b 6.62%, #0e1d2b 94.96%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &--image {
    @apply flex items-end space-x-[1.6rem] w-[28.49%];
    & img {
      @apply w-[14.8rem] h-[6rem];
    }
  }

  &--link {
    & p {
      &:first-of-type {
        @apply font-epilogue font-bold;
      }
    }
  }
}
